@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f0f0f0; /* Lighten the background color */
    --foreground: #333333; /* Darken the foreground color */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Thin scrollbar like macOS */
::-webkit-scrollbar {
  width: 8px;
  /* Width of the vertical scrollbar */
  height: 8px;
  /* Height of the horizontal scrollbar */
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: transparent;
  /* Transparent track */
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
  background: #888;
  /* Color of the scrollbar handle */
  border-radius: 4px;
  /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Darker color on hover */
}